<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Conferencing</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="video">

        </div>
        <div class="chat">
            <div class="chat-head">
                <p>Chat</p>
            </div>
            <div class="output-message">

            </div>
            <form action="/#" method="post">
                <input type="text" name="message" placeholder="Enter Message">
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="options">
            <div class="mute">
                <img src="/icons/microphone-8-32.ico" alt="mute">
                <p>Mute</p>
            </div>
            <div class="end-call">
                <img src="/icons/phone-32.ico" alt="end-call">
                <p>End Call</p>
            </div>
            <div class="stop-video">
                <img src="/icons/video-call-32.ico" alt="stop-video">
                <p>Stop Video</p>
            </div>
        </div>
    </div>
    <script async src="/connect.js"></script>
</body>
</html>